* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
    font-family: 'Abhaya Libre', serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}



.headerContainer {
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    z-index: 1;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: center;
}

.navLinks {
    float: right;
    list-style: none;
    margin-top: 20px;
    display: flex;
}

.navLinks li {
    padding: 0px 50px;
}

.navLinks li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
}

.navLogo {
    font-family: 'Beth Ellen', cursive;
    font-size: 0.8rem;
}

.logoLink {
    text-decoration: none;
    color: #FFFFFF;
}

.sidebarContainer {
    color: #FFFFFF;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 40px;
    right: 0;
    z-index: 1;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

#sidebarIcons {
    font-size: 1.7rem;
    color: #FFFFFF;
}

.landingContainer {
    background-color: #181818;
    height: 100vh;
    width: 100%;
}

.landing {
    background-color: #181818;
    height: 100vh;
    width: 1500px;
    margin: auto;
}

.landingText {
    width: 900px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -20%);
    z-index: 1;
    position: absolute;
}

.landingHeader {
    font-family: 'Abhaya Libre', serif;
    font-size: 6rem;
    color: #FFFFFF;
    /* align text to right */
    text-align: left;
}

.imageContainer {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-102%, -23.4%);
    z-index: 1;
}

.landingImage {
    width: 100%;
    object-fit: cover;
    
}

.landingCircle {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(20%, 50%);
    background-color: #BCAEA5;
}

.blobsContainer {
    opacity: 0.05;
    top: 50%;
    left: 50%;
    transform: translate(70%, -65%);
    width: 900px;
    height: 900px;
}

#blobSvg1 {
    position: absolute;
    width: 100%;
}

#blobSvg2 {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blobSvg3 {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blobSvg4 {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blobSvg5 {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blobSvg6 {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blobSvg7 {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blobSvg8 {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blobSvg9 {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blobSvg10 {
    position: absolute;
    width: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.scrollContainer {
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chevron {
    font-size: 2rem;
    animation: up-down-up 2s infinite;
}

@keyframes up-down-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.aboutContainer {
    background-color: #BCAEA5;
    height: 100vh;
    width: 100%;
}

.about {
    width: 1500px;
    height: 100vh;
    margin: auto;
}

.blobsContainerAbout {
    opacity: 0.03;
    top: 50%;
    left: 50%;
    transform: translate(15%, 0%);
    width: 1000px;
    height: 1000px;
    z-index: -1;
}

.titleContainer {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, 200%);
}

.title {
    font-family: 'Abhaya Libre', serif;
    font-size: 9rem;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    background: linear-gradient(180deg, rgba(125, 73, 42, 0.3) 0%, rgba(125, 73, 42, 0.151562) 67.19%, rgba(125, 73, 42, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
}

.subTitile {
    font-family: 'Abhaya Libre', serif;
    font-size: 6rem;
    position: absolute;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    color: #181818;
}

.aboutContent {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-72%, 155%);
    font-family: 'Beth Ellen', cursive;
    color: rgba(125, 73, 42, 1);
}

.aboutName {
    font-size: 2rem;
    font-weight: 100;
    float: right;
}

.aboutText {
    margin-top: 50px;
    font-size: 2rem;
    font-family: 'Abhaya Libre', serif;
    float: right;
    text-align: right;
    color: #181818;
}

.myPhoto {
    width: 400px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(70%, 125%);
    background-color: grey;
    z-index: 1;
    border-radius: 1%;
}

.servicesContainer {
    background-color: #181818;
    height: 100vh;
    width: 100%;
}

.resumeContainer {
    width: 180px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-145%, 400%);
    background-color: rgba(125, 73, 42, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Abhaya Libre', serif;
    opacity: 0.3;
    z-index: 1;
}

.resumeBtn {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.workContainer {
    background-color: #BCAEA5;
    height: 100vh;
    width: 100%;
}
