* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
    font-family: 'Abhaya Libre', serif;
    overflow-x: none;
}

body::-webkit-scrollbar {
    display: none;
}

.headerContainer {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.3s ease-in-out;
    z-index: 10;
    display: flex;
    justify-content: center;
}


.nav {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 4fr;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    z-index: 1;
}

.navLinks {
    float: right;
    list-style: none;
    display: flex;
}

.navLinks li {
    padding: 0px 50px;
}

.navLinks li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
}

.navLogo {
    font-family: 'Beth Ellen', cursive;
    font-size: 0.8rem;
}

.logoLink {
    text-decoration: none;
    color: #FFFFFF;
}

.navBackground {
    background-color: #181818;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0.1;
    opacity: 0.5;
}


.sidebarContainer {
    color: #FFFFFF;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 40px;
    right: 0;
    z-index: 1;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

#sidebarIcons {
    font-size: 1.7rem;
    color: #FFFFFF;
}

.landingContainer {
    background-color: #181818;
    height: 100vh;
    width: 100%;
}

.landing {
    background-color: #181818;
    height: 100vh;
    width: 1500px;
    margin: auto;
}

.landingText {
    width: 900px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -20%);
    z-index: 1;
    position: absolute;
}

.landingHeader {
    font-family: 'Abhaya Libre', serif;
    font-size: 6rem;
    color: #FFFFFF;
    /* align text to right */
    text-align: left;
}

.imageContainer {
    /* position so the bottom edge is aligned with that of .landingContainer */
    position: absolute;
    bottom: 0;
    /* center the image horizontally */
    left: 50%;
    transform: translateX(-102%);
    width: 600px;
    height: 600px;
    z-index: 1;

}


.landingImage {
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

.landingCircle {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-103%, -30%);
    background-color: #BCAEA5;
}

.blobsContainer {
    opacity: 0.05;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    width: 900px;
    height: 900px;
    position: relative;
}

#blobSvg1 {
    position: absolute;
    width: 100%;
    z-index: 0.5;
}

#blobSvg2 {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0.5;
}

#blobSvg3 {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0.5;
}

#blobSvg4 {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0.5;
}

#blobSvg5 {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0.5;
}

#blobSvg6 {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0.5;
}

#blobSvg7 {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0.5;
}

#blobSvg8 {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0.5;
}

#blobSvg9 {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0.5;
}

#blobSvg10 {
    position: absolute;
    width: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0.5;
}


.scrollContainer {
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chevron {
    font-size: 2rem;
    animation: up-down-up 2s infinite;
}

@keyframes up-down-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.aboutContainer {
    background-color: #BCAEA5;
    height: 100vh;
    width: 100%;
}

.about {
    width: 1500px;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.aboutGridContainer1 {
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.aboutGridContainer2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blobsContainerAbout {
    opacity: 0.03;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -45%);
    width: 1000px;
    height: 1000px;
    z-index: 0.5;
}

.titleContainer {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    transform: translateY(45%);

}

.title {
    font-family: 'Abhaya Libre', serif;
    font-size: 9rem;
    font-weight: 100;
    position: absolute;
    background: linear-gradient(180deg, rgba(125, 73, 42, 0.3) 0%, rgba(125, 73, 42, 0.151562) 67.19%, rgba(125, 73, 42, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
}

.subTitile {
    font-family: 'Abhaya Libre', serif;
    position: absolute;
    top: 60px;
    font-size: 6rem;
    font-weight: 100;
    color: #181818;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 600px;
    height: 500px;
    margin-top: 100px;
    font-family: 'Beth Ellen', cursive;
    color: rgba(125, 73, 42, 1);
    z-index: 1;
    position: relative;
}

.aboutName {
    font-size: 2rem;
    font-weight: 100;
}

.aboutText {
    margin-top: 50px;
    font-size: 2rem;
    font-family: 'Abhaya Libre', serif;
    text-align: right;
    margin-bottom: 50px;
    color: #181818;
}

.aboutPhotoContainer {
    width: 475px;
    height: 550px;
    z-index: 1;
    border-radius: 1%;
}

.aboutPhotoContainer:hover > .cardContainer {
    transform: rotateY(180deg);
}

.cardContainer {
    width: 450px;
    height: 550px;
    position: relative;
    float: right;
    cursor: pointer;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontCard {
    width: 100%;
    height: 100%;
    background-image: url('images/picOfme.png');
    background-size: cover;
    filter: grayscale(100%);
    position: absolute;
    border-radius: 1%;
    float: right;
    backface-visibility: hidden;
}

.backCard {
    width: 100%;
    height: 100%;
    border-radius: 1%;
    position: absolute;
    float: right;
    background-color: #181818;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.facts {
    transform: rotate(-90deg);
    float: left;
    transform-origin: left top 0;
}

.resumeContainer {
    width: 180px;
    height: 40px;
    background-color: rgba(125, 73, 42, 1);
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-family: 'Abhaya Libre', serif;
    /* position to the left */
    position: absolute;
    left: 0;
    bottom: 0;

    opacity: 0.3;
    transition: 0.5s;
}

.resumeContainer:hover {
    opacity: 0.5;
}

.resumeBtn {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutWorkLink {
    text-decoration: none;
    color: rgba(125, 73, 42, 1);
}


.servicesContainer {
    background-color: #181818;
    height: 100vh;
    width: 100%;

}

.services {
    width: 1500px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.serviceTitleContainer {
    width: 700px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -200%);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceTitle {
    font-size: 7rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    background: linear-gradient(180deg, #BCAEA5 0%, rgba(188, 174, 165, 0.541667) 17.71%, rgba(188, 174, 165, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.serviceSubTitle {
    font-size: 4rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.subText {
    font-size: 1.2rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, 200%);
    width: 550px;
}

.textGrid {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 100px;
    color: #FFFFFF;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(0%, 40%);
}

#serviceBoxes {
    width: 400px;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#serviceIcons {
    margin-right: 15px;
} 

#serviceBoxes > p {
    margin-top: 20px;
    font-size: 1.3rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    text-align: justify;
}

#serviceHeader {
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.enquireBtn {
    width: 220px;
    height: 60px;
    background-color: rgba(125, 73, 42, 1);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 500%);
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
}

.enquireBtn:hover {
    background-color: rgba(125, 73, 42, 0.8);
}

.enquireLink {
    width: 220px;
    height: 60px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.enquireLink:hover {
    transform: scale(1.05);
}

.serviceBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('images/serviceBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.05;
    top:0;
    z-index: 0.2;
}

.workContainer {
    background-color: #181818;
    height: 100vh;
    width: 100%;
    position: relative;
}

/*.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('images/workBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.05;
    top:0;
}
*/

.work {
    width: 1500px;
    height: 100vh;
    margin: auto;
    position: relative;
}

.workTitleContainer {
    width: 100%;
    height: 200px;
    background-color: #BCAEA5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.worktitle {
    font-size: 7rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    background: linear-gradient(180deg, rgba(125, 73, 42, 0.3) 0%, rgba(125, 73, 42, 0.151562) 67.19%, rgba(125, 73, 42, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.workSubTitle {
    font-size: 4.5rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.wrapper {
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    position: relative;
    padding: 0px;
}

#left {
    color: #FFFFFF;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(0%, -50%);
}

#right {
    color: #FFFFFF;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(0%, -50%);
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    white-space: nowrap;
}

.carousel img {
    height: 340px;
    width: calc(100% / 3);
    object-fit: cover;
    margin-left: 15px;
    scroll-behavior: smooth;
}

.carousel img:first-child {
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

/*
.workContent {
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: minmax(200px, auto) minmax(200px, auto) minmax(200px, auto) minmax(200px, auto);
    grid-gap: 15px;
    margin-top: 50px;
}

#workBoxes {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: grey;
    cursor: pointer;
    background-color: #BCAEA5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#workBoxes:nth-of-type(2) {
    grid-row-start: span 2;
}

#workBoxes:nth-of-type(6) {
    grid-column-end: span 2;
}

.hiddenContent {
    display: none;
    height: 100%;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    color: #FFFFFF;
    position: absolute;
    padding: 20px;
}

.wTitle {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.wDescription {
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 20px;
}

.wBtn1 {
    width: 220px;
    height: 60px;
    background-color: rgba(125, 73, 42, 1);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}
*/

.enquireContainer {
    background-color: #BCAEA5;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enquireFormContainer {
    width: 1200px;
    height: 700px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    grid-template-rows: 1fr;
    align-items: center;
    border-radius: 10px;
    /* add a subtle box-shadow more pronounced than the last one */
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3)
}

.enquireTitleContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    padding: 10%;
    position: relative;
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.6);
    clip-path: inset(0px -30px 0px 0px);
}

.enquireHeader {
    font-size: 5rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.enquireText {
    font-size: 1.7rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 50px;
}

.contactInfo {
    font-size: 1.5rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.enquireUnderline {
    width: 40%;
    height: 1px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.contactEmail {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    margin-bottom: 20px;
}

.phoneNumber {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
}

.formContainer {
    margin: auto;
    margin-top: 125px;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.form {
    width: 100%;
    height: 100%;
}

.formItmes {
    margin-bottom: 10px;
}

.firstLineContainer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

#selector {
    width: 49.3%;
    height: 100%;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid #181818;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    font-size: 1.18rem;
    padding: 10px;
    float: left;
}

#name {
    width: 49.3%;
    height: 100%;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid #181818;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    font-size: 1.3rem;
    padding: 10px;
    float: right;
}

#email {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid #181818;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    font-size: 1.3rem;
    padding: 10px;
    margin-bottom: 50px;
}

#message {
    width: 100%;
    height: 280px;
    resize: none;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    font-size: 1.3rem;
    padding: 10px;
    margin-bottom: 35px;
    border: none;
    border-top: 2px solid #181818;
    border-bottom: 2px solid #181818;
}

#submit {
    width: 100%;
    height: 60px;
    background-color: #181818;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #181818;
}

#submit:hover {
    background-color: #FFFFFF;
    color: #181818;
}

.blobsContainerEnquire {
    opacity: 0.03;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -35%);
    width: 700px;
    height: 700px;
    z-index: 0.1;
}

.footerContainer {
    width: 100%;
    height: 20vh;
    position: relative;
}

.footer {
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
    background-color: #181818;
    bottom: 0;
}

.footerHeader {
    font-size: 1.6rem;
    font-family: 'Beth Ellen', cursive;
    font-weight: 100;
    margin: 20px 0 20px 0;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.footerNavContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerNav {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    font-size: 1.3rem;
    color: #FFFFFF;
}

.footerLineContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLine {
    width: 80%;
    height: 1px;
    background-color: #FFFFFF;
}

.copyRightContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.copyRight {
    font-size: 1.2rem;
    font-family: 'Abhaya Libre', serif;
    font-weight: 100;
    color: #FFFFFF;
    opacity: 0.2;
    margin-top: 5px;
}